@charset"utf-8";
.SI_popup-modal.no_mobile{
	  bottom: auto;
	  width: 480px;
	  max-width: 100%;
	  border-radius: 18px;
	  padding: 0 5px;
	  border:none;
}
.SI_popup-content{
	/*position: relative;*/
	/*top:30px;*/
}
.SI_popup-modal{
	position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 34001;
    margin: 0;
    overflow: visible;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
.SI_popup-wrapper{
	position: relative
}
.SI_popup-wrapper .SI_tool-popup-modal{
	background: #fff
}
.SI_tool-list .SI_flexbox{
	position: absolute;
	top: -29px;
	right:0
}
.SI_tool-list{padding: 0}
.SI_tool-list .SI_flexbox:first-of-type{
	padding-bottom: 0;
    border-bottom: none;
    cursor: pointer
}
.SI_tool-list .SI_tool-btn{
	cursor: pointer;
    width: 50px;
    flex: 1 1 auto;
    color: #666;
    text-align: center;
    font-size: 11px;
    display: inline-block;
    font-size: 0;
    margin-right: 0
}
.SI_tool-list .SI_tool-btn .SI_gap-top{
	display: none;
}
.SI_tool-list .SI_tool-btn .SI_img{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%
}
.SI_tool-list .SI_flexbox{
	min-width: 0
}